@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap')

\:root
  --size: calc(1vw - 1vh)

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  font-family: 'Inter', sans-serif
  background: url("./assets/img/cover.png") no-repeat
  background-size: cover
  width: 100%
  height: 100vh